# docker run -d --rm --name mongo -p 27017:27017 -v mongodbdata:/data/db mongo

version: '3'

services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodbdata:/data/db
  
  rabbitmq:
    image: rabbitmq:4.1.4-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
    hostname: rabbitmq

  postgres:
    image: postgis/postgis:16-3.4
    container_name: postgres
    ports: 
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=czcz
      - POSTGRES_PASSWORD=czcz
      - POSTGRES_DB=Play.World.Db
    volumes:
      - postgresdbdata:/var/lib/postgresql/data

  redis:
    image: redis
    container_name: redis
    ports:
      - 6379:6379
    volumes:
      - redisdata:/data

  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
    ports:
      - 5341:80
    volumes:
      - seqdata:/data

  consul:
    image: hashicorp/consul:latest
    container_name: consul
    ports:
      - "8500:8500"  # HTTP API
      - "8600:8600/udp"  # DNS
    command: "agent -dev -client=0.0.0.0"

  # play-items-app:
  #   image: play-items-app
  #   container_name: play-items-app
  #   depends_on: 
  #     - rabbitmq
  #   ports: 
  #     - 5002:5002
  #   environment:
  #     - DOTNET_ENVIRONMENT=Development

  # play-apigateway-app:
  #   image: play-apigateway-app
  #   container_name: play-apigateway-app
  #   ports:
  #     - 5008:8080
  #   environment:
  #     - DOTNET_ENVIRONMENT=Development


volumes:
  mongodbdata: 
  rabbitmqdata:
  postgresdbdata:
  redisdata:
  seqdata: